
# Created by https://www.gitignore.io/api/phoenix,elixir

### Phoenix ###
# Phoenix: a web framework for Elixir
_build/
/db
/deps
/*.ez
node_modules/
erl_crash.dump
/priv/static/
/config/prod.secret.exs
/rel


### Elixir ###
/_build
/cover
/deps
/doc
erl_crash.dump
*.ez
